<div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="mt-5">Authenticator</h3>
        <p
          class="lead mt-3"
          style="
            font-size: 1.2rem;
            line-height: 1.8;
            max-width: 800px;
            margin: 0 auto;
          "
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus
          ac quam sed bibendum. Maecenas placerat erat et ipsum varius, sit amet
          rhoncus purus ultrices. Fusce non diam eget tellus dapibus vestibulum
          eget nec justo. Donec iaculis metus eu purus auctor, in suscipit ex
          maximus. Nulla facilisi. Vivamus rutrum ipsum sit amet vestibulum
          sagittis. Praesent et elit in nisl faucibus facilisis.
        </p>
      </div>
    </div>
  </div>