<div cardM>
  <div class="card" style="width: 50rem">
    <div class="card-body">
      <h5 class="card-title">Vente Item</h5>
      <p class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni eos nemo
        unde nisi? Nisi minus reprehenderit temporibus veniam voluptate laborum
        vel rem earum cupiditate. Rerum veritatis nulla, similique aut ex qui
        quisquam adipisci reprehenderit sunt eos assumenda commodi recusandae
        earum aspernatur impedit cum ab placeat est quis iste magnam distinctio
        modi magni vero. Assumenda accusamus, neque architecto esse sunt ipsam
        sequi!
      </p>
      <div
        class="img-item"
        style="display: flex; justify-content: center; padding: 10px"
      >
        <img
          src="../../../assets/images/Fuk_0v-WcAAacRR.jpg"
          alt="vente-item"
          width="35%"
        />
      </div>
      <div style="text-align: center">
        <app-list-users></app-list-users>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div>
      <app-timer></app-timer>
    </div>
    <div class="card-body">
      <div style="text-align: left">
        <app-crypt-api></app-crypt-api>
      </div>
    </div>
  </div>
</div>
