<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mt-5">OneItem</h1>
      <img src="../../../assets/images/mainLogo.svg" alt="OneItem logo" class="p-5" style="height: 25vh;">
      <p class="lead mt-3" style="font-size: 1.2rem; line-height: 1.8; max-width: 800px; margin: 0 auto;">
        Welcome to OneItem. <br/>
        This website sells a limited quantity of a unique and handmade item periodically. To acquire them, users must bid using a system that allows the top X bidders to win the item at the end of the sale period. <br/>
        <br/>
        To see the item currently on sale go to "<a routerLink="item" style="color: black;">Item</a>".<br/>
        To consult the items previously available on this website, go to "<a routerLink="history" style="color: black;">History</a>".
      </p>
    </div>
  </div>
</div>
