/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'cubicFont';
    src: url('../src/assets/fonts/uni05_54.ttf');
    /* You can add additional src urls for different font file types */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'cubicFont', sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
